body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;

  /* Referenced from GitHub */
  background-color: rgba(175, 184, 193, 20%);
  font-size: 0.9rem;
}

.grid-container {
  --top-bar-height: 3rem;
  --side-bar-width: 12rem;

  display: grid;
  grid-template:
    "top-bar top-bar"
    "side-bar main-content";
  grid-template-rows:
    var(--top-bar-height)
    calc(100vh - var(--top-bar-height));
  grid-template-columns:
    var(--side-bar-width)
    calc(100vw - var(--side-bar-width));
}

.top-bar {
  grid-area: top-bar;
  background-color: lightgreen;
}

.side-bar {
  grid-area: side-bar;
  background-color: lightgoldenrodyellow;
}

.main-content {
  grid-area: main-content;
  background-color: white;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
